.elipseContainer {
  margin-top: 250px;
}

.allElipseWithButton {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.allElipseWithButton img {
  position: absolute;
}

.smallElipse {
  top: -160px;
}

.rectangle {
  top: -150px;
}

.collabWord {
  top: -45px;
}

.elipseButton {
  position:absolute;
  bottom: -160px;
  padding: 15px 30px;
  border: none;
  border: 2px solid #9a54bc;
  background-color: white;
  color: #9a54bc;
  border-radius: 5px;
}

.fiveIconsContainer {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:300px;
  gap: 50px;
}

.iconsContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 50%;
}

.iconsContainer .icon {
  width: 100px;
}

.howHelpContainer {
  width: 100%;
}

.howHelpContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  gap:  50px;
}

.howHelpButtons {
  widht: 100%;
  background-color: white;
  border:none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  gap: 5px;
  padding: 1-px;
}

.howHelpButtons button {
  width: 50%;
  padding: 6px 0 6px 0;
  border: none;
  background-color: transparent;
  cursor:pointer;
}

.vendorAppBtn:hover {
  background-color: #60267F;
  border: 2px solid #9a54bc;
}

.supervisorBtn:hover{
  background-color: #60267F;
  border: 2px solid #9a54bc;
}