body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(102, 98, 98);
}
.container {
        position: relative;
        display: inline-block;
    }

nav {
  background-color: #444;
  padding: 10px 0;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
nav a:hover {
  text-decoration: underline;
}
.h2txt{
margin: 10px;
text-align: left;
color:goldenrod;
}
i{
  font-size: 1em;
  color:whitesmoke;
}
.title{
  font-size: 2em;
  color:white;
  text-shadow: 0, 0, 0 5px black ;
}
.wrapper {
  background-image: url(./picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
img{
  max-width: 50%;
  max-height: 50%
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*ransform-style: preserve-3d;
  z-index: -1; */
}

.background {
  transform: translateZ(-10px) scale(2);
}


.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
