* {
  background-color: rgb(32, 32, 32);
  color: white;
}

.back {
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.365);
  font-size: 20px;
}

/* ul {
  display:flex;
  justify-content: space-around;
}

li {
  width: 70px;
  transition: 0.2s;
} */

li:hover {
  opacity: 60%;
  cursor: pointer;
}