body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.532);
  font-size: 20px;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main .top {
  height: 100px;
  padding: 20px;
  margin: 20px;
  border-bottom: 2px solid black;
}
main .content {
  display: flex;
}

.sort {
  margin: 5px;
  cursor: pointer;
}
.sort :hover {
  color: pink;
}
