body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Prompt", sans-serif;
  text-transform: none;
  color: #363636;
  overflow-wrap: break-word;
}

.layout {
  width: 100%;
}

.bin {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.header_secondary-navigation {
  display: flex;
  z-index: 5;
  position: relative;
  flex: 0 0 auto;
  padding-left: 20px;
  text-align: right;
  max-width: 50%;
}

.bin.menu {
  background-color: transparent;

}

.headline {
  position: relative;
  display: inline-block;
  text-align: right;
  justify-content: flex-end;
  overflow-wrap: initial;
}

.banner_inner-text {
  display: flex;
  text-align: right;
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  top: 20px;
  font-size: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

nav ul li a:hover {
  color: #677e4b;
  transition: 0.2s;
}

.bi-person-fill {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
  margin-left: 2px;
  cursor: pointer;
}

.bi-person-fill:hover {
  fill: #677e4b;
  transition: 0.1s;
}

.bi-search {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
  margin-left: 2px;
  cursor: pointer;
}

.bi-search:hover {
  fill: #677e4b;
  transition: 0.1s;
}

.bi-cart3 {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
  margin-left: 2px;
  cursor: pointer;
}

.bi-cart3:hover {
  fill: #677e4b;
  transition: 0.1s;
}

.headline {
  align-items: flex-end;
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.expandable {
  position: relative;
}

.expandable .choices {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #cabe9b;
  border: none;
}

.expandable:hover .choices {
  display: block;

}

.expandable:hover .choices li {
  display: block;
}

.expandable .choices li {
  display: none;
}

.expandable .choices li a {
  display: flex;
  padding: 5px;
  padding-right: 60px;
  text-decoration: none;
  color: white;
}

.expandable .choices li a:hover {
  background-color: transparent;
  color: #677e4b;
  transition: 0.5s;
}

div {
  display: flex;
}

h1 {
  align-items: flex-end;
  justify-content: center;
  position: absolute;
}

h2 {
  font-size: 26px;
  line-height: 1.8em;
  margin: 0 auto 15px;
  clear: both;
  font-weight: 800;
  padding-top: 4px;
  color: #363636;
  text-align: center;
  justify-content: center;
}

.explore-container {
  text-align: center;
  display: flex;
}

.img1 {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}