/* .js-header {
  display: block;
  background-color: #c3b68e;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 50px;
  z-index: 9999;
  width: 100%;
  opacity: .95;
  top: 0;
  box-sizing: border-box;
} */
body {
  margin: 0px;
}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  top: 10px;
  overflow: hidden;
}

.parallax h1 {
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  max-width: 55%;
  padding: 50px 10px;
  display: flex;
}